<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:comment="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        comment:note="Raw PNG image avoids being wrapped in HTML"
        android:icon="@raw/chart5k"
        android:roundIcon="@raw/chart5k"
        android:label="CHArT5k"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
